$icon-font-path: '../assets/fonts/';

$Calcite_Gray_050:   #ffffff;
$Calcite_Gray_700:   #323232;

/*$primary-font-sanserif:  'Avenir Next W01', 'Avenir Next', 'Avenir';
$primary-font-serif: 'Kepler W01';
$primary-headings-weight: 300;*/

/*@import 'calcite-bootstrap';*/
@import 'components/calcite-bootstrap';

$icon-font-path: '../assets/fonts/';


@import "bootstrap";

@import 'signin';

.navbar-brand {
  padding: 5.5px 15px;
}

#txtName {
  width: 225px;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td,
.editable-header-table table {
  border-bottom-width: 0px !important;
  font-weight: normal;
}

.editable-body-table td {
  border-top-width: 0px !important;
}

.editable-header-table thead > tr {
  background-color: rgba(0, 121, 193, 0.05) !important;
}

.editable-body-table input {
  display: inline-block;
  width: 80%;
}

.editable-footer-table td:first-child input {
  margin-left: 17px
}
.editable-footer-table input {
  width: 80%;
}
.editable-footer-table table,
.editable-footer-table table td {
  border: 0px !important;
}

.numberCircle {
  border-radius: 50%;

  width: 36px;
  height: 36px;
  padding: 8px;

  background: green;
  border: 2px solid white;
  color: white;
  text-align: center;

  font-size: 32px;
}
