<div id="edit-grid-cs"></div>
<div style="text-align:center;margin-top: 40px;margin-bottom: 80px;">
  <button id="btnAddFields" {{action 'addFields'}} class="btn btn-lg btn-info">
    <span class="glyphicon glyphicon-cloud-upload"></span> Add Fields to Story Map!
  </button>
  <br>
  <div style="margin-top: 10px;" id="successMessage"></div>
</div>
