<div class="container">

  <h4 style="margin-top:25px;">What Type of Feature Class is This?</h4>

  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" role="group" aria-label="...">
        <a type="button" class="btn btn-default active">
          <span class="glyphicon glyphicon-option-horizontal"></span> Point</a>
        <a type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-menu-hamburger"></span> Line</a>
        <a type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-unchecked"></span> Polygon</a>
      </div>
    </div>
  </div>

  <hr>

  <div class="row text-center">
    {{editable-grid}}
  </div>

</div>
