<div id="edit-grid"></div>
<div style="text-align:center;margin-top: 40px;margin-bottom: 80px;">
  <button id="btnPublish" {{action 'publish'}} class="btn btn-lg btn-success">
    <span class="glyphicon glyphicon-cloud-upload"></span> Publish!
  </button>
  <br>
  <div style="margin-top: 10px;" id="successMessage"></div>
</div>
