<div class="btn-group firstOption" role="group" aria-label="...">
  <a data-option="new" type="button" class="btn btn-default active">
    <span class="glyphicon glyphicon-option-horizontal"></span> Create a new Story Map with more fields</a>
  <a data-option="existing" type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-menu-hamburger"></span> Add fields to an existing Story Map</a>
</div>
