<div class="btn-group geomType" role="group" aria-label="...">
  <a data-geomType="esriGeometryPoint" type="button" class="btn btn-default active">
    <span class="glyphicon glyphicon-option-horizontal"></span> Points</a>
  <a data-geomType="esriGeometryPolyline" type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-menu-hamburger"></span> Lines</a>
  <a data-geomType="esriGeometryPolygon" type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-unchecked"></span> Polygons</a>
</div>
